html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
background-color: #2E2E2E;
}
#header {
display: block;
background-color: white;
height: 100px;
/*color: #46bbff;*/
color: black;
text-align: center;
box-shadow: inset 0 0 10px #000000;
font-size: 200%;
}
#header h1 {
padding-top: 5px;
text-shadow: #000 0px 1px 1px;
}
#container {
display: block;
margin: 0px;
padding: 0px;
}
#contentContainer {
display: block;
background-color: white;
}
#contentContainer > section {
/*float: left;*/
text-shadow: #000 0px 1px 1px;
color: white;
box-shadow: inset 0 0 5px #000000;
text-align: center;
overflow:auto;
}

#contentContainer section h2{
font-size: 300%;
}
#contentContainer section .content {
max-width: 45%;
padding: 1em;
margin: 0 0 0 3.5em;
text-align: left;
}
#home{
background-color: #2E2E2E;
}
#about{
background-color: #ec209b;
}
#signUp{
background-color: #46bbff;
}
#calendar{
background-color: #AADD14;
}
#registration{
}
#tshirt {
    display:none; 
}

#tshirt.show {
    display:block;
}
#welcome {
    display:none;
}

#signUpForm,
.field input,
button {
  font: 100 24px/1.4
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.field label,
.field input {
  display: inline-block;   
}
.field label {
  position: relative;
  z-index: 1;
  min-width: 45%;
  text-align: right;
  color: #333;
}
.field input {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #eee;
  border-radius: 10px;
  width: 50%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1em 0 .5em;
  -webkit-transition: background-color 1.25s;
  -moz-transition: background-color 1.25s;
  transition: background-color 1.25s;
}
.field {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 5px 10px #eee;
  max-width: 25em;
  margin: 1em auto;
}
.actions {
  text-align: center;
}
form > p {
    font-size:125%;
}
button {
  color:white;
  background-color: #46bbff;
  border: 4px solid white;
  border-radius: 15px;
  /*box-shadow: 0 3px 10px white;*/
  padding: .25em .75em;
}
button:active:hover {
  box-shadow: 0 3px 10px #ccc inset;
}
ul {
    list-style-type:none;   
}

/* Style the placeholder differently from the submitted content */
/* Firefox 4–18 */
input:-moz-placeholder {
  font-size: 75%;
  font-style: italic;
  color: #666;
}
/* Firefox 19+ */
input::-moz-placeholder {
  font-size: 75%;
  font-style: italic;
  color: #666;
}
/* Opera, Chrome, Safari, Mobile Safari */
input::-webkit-input-placeholder {
  font-size: 75%;
  font-style: italic;
  color: #666;
}
/* IE 10+ */
input:-ms-input-placeholder {
  font-size: 75%;
  font-style: italic;
  color: #666;
}
input::placeholder {
  font-size: 75%;
  font-style: italic;
  color: #666;
}

/* Be fancy when the input is valid/invalid */
input:valid {
  background-color: #ccffdd;
}
input:invalid {
  border: 1px solid #ffccdd;
  background: 95% center no-repeat  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT1JREFUeNpi/P//PwMpgImBRMACY/x7/uDX39sXt/67cMoDyOVgMjBjYFbV/8kkqcCBrIER5KS/967s+rmkXxzI5wJiRSBm/v8P7NTfHHFFl5mVdIzhGv4+u///x+xmuAlcdXPB9KeqeLgYd3bDU2ZpRRmwH4DOeAI07QXIRKipYPD35184/nn17CO4p/+cOfjl76+/X4GYAYThGn7/g+Mfh/ZZwjUA/aABpJVhpv6+dQUjZP78Z0YEK7OezS2gwltg64GmfTu6i+HL+mUMP34wgvGvL78ZOEysf8M1sGgZvQIqfA1SDAL8iUUMPIFRQLf+AmMQ4DQ0vYYSrL9vXDz2sq9LFsiX4dLRA0t8OX0SHKzi5bXf2HUMBVA0gN356N7p7xdOS3w5fAgcfNxWtn+BJi9gVVBOQfYPQIABABvRq3BwGT3OAAAAAElFTkSuQmCC");
}


/* Play nice on narrower windows. */
@media screen and (max-width: 30em) {
  label {
    text-align: left;
  }
  input {
    position: relative;
    width: 100%;
  }
}
    